@charset "UTF-8";

@media screen and (min-width: 768px) {
  span#burguer {
    display: none;
  }   

  span {
    display: block;
  }

  span > ul > li {
    display: inline-block;
  }

  main {
    width: 768px;
  }
}